@model CaptureViewModel

@{
    ViewBag.Title = "Index";
}

        <div class="editor-field">

          @*  @Html.ListBox("allocated-projects", Model.AllocatedProject as MultiSelectList , new { @class= "select2_multiple form-control" })*@


            <div class="col-md-9 col-sm-9 col-xs-12">
                <input id="tags_1" type="text" class="tags form-control" value="social, adverts, sales" data-tagsinput-init="true" style="display: none;">

                <div id="tags_1_tagsinput" class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                    <span class="tag">
                        <span>social&nbsp;&nbsp;</span>
                        <a href="#" title="Removing tag">x</a>
                    </span>

                    <span class="tag">
                        <span>adverts&nbsp;&nbsp;</span>
                        <a href="#" title="Removing tag">x</a>
                    </span>


                    <span class="tag">
                        <span>sales&nbsp;&nbsp;</span>
                        <a href="#" title="Removing tag">x</a>
                    </span>

                    <div id="tags_1_addTag">
                        <input id="tags_1_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 72px;">
                    </div><div class="tags_clear"></div>
                </div>
              <!--  <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div> -->
      </div>
</div>